---
layout: workshop      # DON'T CHANGE THIS.
root: .               # DON'T CHANGE THIS.
venue: "Stanford University School of Medicine"        # brief name of host site without address (e.g., "Euphoric State University")
address: "Li Ka Shing Center for Learning and Knowledge Room LK120, 291 Campus Drive, Stanford, California, 94305"      # street address of workshop (e.g., "123 Forth Street, Blimingen, Euphoria")
country: "United-States"      # country (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_3166-1)
language: "en"     # language (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_639-1)
latlng: "37.432019, -122.175804"       # fractional latitude and longitude (e.g., "41.7901128,-87.6007318"; you can use http://www.latlong.net/)
humandate: "Jan 21-22, 2017"    # human-readable date (e.g., "Feb 17-18, 2020")
humantime: "8:00 am - 5:00 pm"    # human-readable time (e.g., "9:00 am - 4:30 pm")
startdate: 2017-01-21      # use YYYY-MM-DD format like 2015-01-01
enddate: 2017-01-22        # use YYYY-MM-DD format like 2015-01-02
instructor: ["Ryan Peek", "Catalina Anghel"] # list of names like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper: ["Amy Hodge","Chris Beitel", "Nikhil Damle", "Chris Mark DeBoever", "Joe Reese Davis III", "Matt George Durrant", "Lorraine Ling", "Aparna Rajiv Rajpurkar", "Genevieve L Wojcik", "Zach Zappala"]
contact: "ljsteele@stanford.edu"      # contact email address for workshop organizer,
etherpad: "http://pad.software-carpentry.org/2017-01-22-stanford"       # optional (insert the URL for your Etherpad if you're using one)
eventbrite: "30193774392"      # optional (insert the alphanumeric key for Eventbrite registration, e.g., "1234567890AB")
day1_am: "Introduction to the workshop, data, and data tidy-ness (<i>Catalina</i>)"
day1_pm: "Cloud computing for genomics (<i>Ryan</i>) & Intro to command line (<i>Catalina</i>)"
day2_am: "Data wrangling and processing (<i>Catalina</i>)"
day2_pm: "Data analysis and visualization in R (<i>Ryan</i>)"
---
<!--
  HEADER

  Edit the values in the block above to be appropriate for your
  workshop.  Run 'tools/check' *before* committing to make sure that
  changes are good.
-->

<!--
  EVENTBRITE

  This block includes the Eventbrite registration widget if
  'eventbrite' has been set in the header.  You can delete it if you
  are not using Eventbrite, or leave it in, since it will not be
  displayed if the 'eventbrite' field in the header is not set.
-->

<h2>Registration</h2>

<strong>Please Register by January 10.</strong>

{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="206px"
  scrolling="auto">
</iframe>
{% endif %}

<p>
<strong>This workshop is brought to you by:</strong>
</p>

<p>
<a href="http://med.stanford.edu/">
    <img border="0" alt="StanfordMed" src="img/SM-logo-monument.svg" height="150">
</a>
</p>

<p>
<a href="http://www.datacarpentry.org/">
    <img border="0" alt="DC" src="img/DC6_logo.png" height="150">
</a>
</p>


<!--
<p>
<strong>Sponsors:</strong>
</p>
NIH
<p>
<a href="http://www.agtagenomics.org.au/">
    <img border="0" alt="AGTA" src="https://combineau.files.wordpress.com/2015/05/agta-logo.jpg" height="100">
</a>

&nbsp;
&nbsp;

<a href="http://www.vlsci.org.au/">
    <img border="0" alt="VLSCI" src="https://combineau.files.wordpress.com/2015/05/logo_vlsci_rgb.jpg" height="100">
</a>
</p>
-->

<h2>General Information</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
<a href=http://datacarpentry.org>Data Carpentry</a> workshops are for any researcher
who has data they want to analyze, and no prior computational experience is required.
This hands-on workshop teaches basic concepts, skills and tools for working more
effectively with data.
</p>
<p>
This is the <strong>Data Carpentry Genomics Workshop</strong> <a href=http://www.datacarpentry.org/genomics-workshop/>(overview page)</a>. The focus of this workshop is on working with genomics data and data management and analysis for genomics research. It covers metadata organization in spreadsheets, data organization, connecting to and using cloud computing, the command line for sequence quality control and bioinformatics workflows, and R for data analysis and visualization. The workshop does not teach any particular bioinformatics tools, but the foundational skills that will allow you to conduct any analysis and analyze the output of a genomics pipeline.

Participants should bring their laptops and plan to participate actively. By the end of the workshop learners should be able to more effectively manage and analyze data and be able to apply the tools and approaches directly to their ongoing research.
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p>
  <strong>Who:</strong>
  The course is for Stanford graduate students only. This offering of Data Carpentry can be taken for academic credit
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong> Participants must bring a laptop with a
  Mac, Linux, or Windows operating sytem (not a tablet, Chromebook, etc.) that they have administrative privileges
  on. They should have a few specific software packages installed (listed
  <a href="#setup">below</a>). They are also required to abide by
  Data Carpentry's
  <a href="{{site.dc_site}}/code-of-conduct/">Code of Conduct</a>.
</p>

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2>Preliminary Schedule</h2>

<!-- DO NOT EDIT SURVEY LINKS -->
<p><em>Surveys</em></p>
<p>Please be sure to complete these surveys before and after the workshop.</p>
<p><a href='{{ site.dc_pre_survey }}'>Pre-workshop Survey</a></p>
<p><a href='{{ site.dc_post_survey }}'>Post-workshop Survey</a></p>



<h2>Schedule</h2>
</p>
<div class="row">
  <div class="col-md-6">
    <h3>Day 1: 8:30AM - 5:00PM</h3>
    <table class="table table-striped">
      <tr>
        <td colspan=2 style="background:gainsboro"><strong><em>8:00 - 8:30:</em></strong>Coffee & Sign In</td>
        <td colspan=2 style="background:gainsboro"><strong>Morning:</strong>Intro, The Data, and The Cloud</td>
      </tr>
      <tr>
          <td>
              <a href="http://www.datacarpentry.org/2016-05-26-NIH/DataCarpentry_Intro.pdf">Intro to Data Carpentry</a>
          </td>
          <td>
            Ryan
          </td>
      </tr>
      <tr>
          <td>
              <a href="http://www.datacarpentry.org/introduction-genomics/">Intro to Data</a>
          </td>
          <td>
            Catalina
          </td>
      </tr>
      <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/tidiness-genomics/">Genomics Data Tidyness</a>
          </td>
          <td>
            Catalina
          </td>
      </tr>
      <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/cloud-genomics/">Connecting to the Cloud in 5 Minutes or Less</a>
          </td>
          <td>
            Ryan
          </td>
      </tr>
      <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/r-genomics-2/00-intro-to-r-rstudio.html">RStudio Orientation</a>,
                            <a href="https://jasonjwilliamsny.github.io/r-genomics-2/01-intro-to-r.html">Intro to R</a>
          </td>
          <td>
            Ryan
          </td>
      </tr>
      <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/r-genomics-2/02-intro-to-dataframes-metadata-r.html">Dataframes and Metadata</a>
          </td>
          <td>
            Ryan
          </td>
      <tr>
          <td>
              <a href="http://www.datacarpentry.org/shell-genomics/lessons/">Using the Command Line (Shell)</a>
          </td>
          <td>
            Catalina
          </td>
      </tr>
      </tr>
      <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/importingdata-genomics/">Data Importing and Uploading</a>
          </td>
          <td>
            Ryan
          </td>
      <tr>
        <td colspan=2 style="background:gainsboro"><strong>Afternoon:</strong>Project Setup and Sequence QC </td>
      </tr>
      <tr>
          <td>
               <a href="https://jasonjwilliamsny.github.io/organization-genomics/">Project Setup & Organization</a>
          </td>
          <td>
            Catalina
          </td>
      </tr>
        <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/wrangling-genomics/00-readQC.html" target="_blank">QC of Sequence Data</a>
          </td>
          <td>
           Catalina
         </td>
      <tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 2: 8:30AM - 5:00PM</h3>
    <table class="table table-striped">
      <tr>
        <td colspan=2 style="background:gainsboro"><strong><em>8:00 - 8:30:</em></strong> Coffee & Sign In</td>
        <td colspan=2 style="background:gainsboro"><strong>Morning:</strong>Using Linux Workflows to Process Genomics Data</td>
      </tr>
      <tr>
        <td>
          <a href="https://jasonjwilliamsny.github.io/wrangling-genomics/01-automating_a_workflow.html" target="_blank">Automating Workflows</a>
          </td>
          <td>
            Catalina
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://jasonjwilliamsny.github.io/wrangling-genomics/02-variant-calling-workflow.html" target="_blank">Variant Calling</a>
          </td>
          <td>
            Ryan
          </td>
      </tr>
        <tr>
          <td>
              <a href="http://www.datacarpentry.org/R-genomics/">Genomics and R</a>
          </td>
          <td>
            Ryan
          </td>
        </tr>
        <tr>
          <td>
              <a href="http://www.datacarpentry.org/R-genomics/03-data-frames.html">Dataframes and R</a>
          </td>
          <td>
            Ryan
          </td>
        </tr>
        <tr>
          <td colspan=2 style="background:gainsboro"><strong>Afternoon:</strong>Aggregate, Analyze, Visualize with R</td>
      </tr>
        <tr>
          <td>
              <a href="http://www.datacarpentry.org/R-genomics/04-dplyr.html">Aggregate and Analyze with dplyr</a>
          </td>
          <td>
            Ryan
          </td>
      </tr>
        <tr>
          <td>
              <a href="http://www.datacarpentry.org/R-genomics/05-data-visualization.html">Visualization with ggplot2</a>
          </td>
          <td>
            Ryan
          </td>
      </tr>
        <tr>
          <td>
              Workshop Conclusion
          </td>
          <td>
            Please take the <a href='{{ site.dc_post_survey }}'>Post-workshop Survey</a>
          </td>
        </tr>

    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Post Workshop</h3>
    <table class="table table-striped">
            <tr>
        <td colspan=2 style="background:gainsboro">How to Make This Work on Your Own</td>
      </tr>
      <tr>
          <td>
              <a href="https://jasonjwilliamsny.github.io/cloud-genomics/logging-onto-cloud.html">Launching Your Own Cloud Instances</a>
          </td>
          <td>
          On Your Own
          </td>
      </tr>
    </table>
  </div>
</div>


<!--


<div class="row">
  <div class="col-md-8">

    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>8:00 am - 8:30 am</td>  <td>Coffee and Sign In</td> <td></td> </tr>
      <tr> <td>8:30 am - 12:00 pm</td>  <td>{{page.day1_am}}</td>  <td><a href="http://www.datacarpentry.org/2016-05-26-NIH/DataCarpentry_Intro.pdf" target="_blank">Data Carpentry Overview </a>, <a href="http://www.datacarpentry.org/introduction-genomics/" target="_blank">Module 1: Intro to Data </a>, <a href="https://jasonjwilliamsny.github.io/tidiness-genomics/" target="_blank">Module 2: Data Tidiness</a>, <a href="https://jasonjwilliamsny.github.io/cloud-genomics/" target="_blank">Module 3: Cloud Computing</a>, <a href="https://jasonjwilliamsny.github.io/r-genomics-2/02-intro-to-dataframes-metadata-r.html" target="_blank">Dataframes in R</a>, <a href="https://jasonjwilliamsny.github.io/r-genomics-2/02-intro-to-dataframes-metadata-r.html" target="_blank">Dataframes in R</a></td> </tr>
       <tr> <td>1:00 pm - 5:00 pm</td>  <td>{{page.day1_pm}}</td> <td><a href="http://www.datacarpentry.org/shell-genomics/lessons/" target="_blank">Module 4: Intro to Command Line</a>,<a href="https://jasonjwilliamsny.github.io/importingdata-genomics/" target="_blank">Importing & Uploading Data</a>, <a href="https://jasonjwilliamsny.github.io/organization-genomics/" target="_blank">Module 5: Project Setup</a>, <a href="https://jasonjwilliamsny.github.io/wrangling-genomics/00-readQC.html" target="_blank">QC of Sequence Data</a></td> </tr>
    </table>

    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>8:00 am - 8:30 am</td>  <td>Coffee and Sign In</td> <td></td> </tr>
      <tr> <td>8:30 am - 12:00 pm</td>  <td>{{page.day2_am}}</td> <td><a href="https://jasonjwilliamsny.github.io/wrangling-genomics/01-automating_a_workflow.html" target="_blank">Module 5: Workflows</a>, <a href="https://jasonjwilliamsny.github.io/wrangling-genomics/02-variant-calling-workflow.html" target="_blank"> Module 5: Variant Calling</a></td> </tr>
        <tr> <td>1:00 pm - 5:00 pm</td>  <td>{{page.day2_pm}}</td> <td><a href="http://www.datacarpentry.org/R-genomics/" target="_blank">R: Lessons 00-05</a></td> </tr>
    </table>
 </div>
</div>
-->

<!--
  ETHERPAD

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://etherpad.mozilla.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop (e.g.,
  '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<!--
  SYLLABUS

  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.

<h2>Syllabus</h2>

<div class="row">
  <div class="col-md-6">
    <h3>The Workshop</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.R-genomics}}/ref/00-before-we-start.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_lessons}}/ref/01-shell.html">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Programming in Python</h3>
    <ul>
      <li>Using libraries</li>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li>Using Python from the command line</li>
      <li><a href="{{site.swc_lessons}}/ref/03-python.html">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Data Analysis and Visualization in R</h3>
    <ul>
      <li>Before we start</li>
      <li>Intro to R</li>
      <li>Starting with data</li>
      <li>Data Frames</li>
      <li>dplyr</li>
      <li>Data visualization</li>
      <li><a href="{{site.swc_lessons}}/ref/00-before-we-start.html">Reference...</a></li>
    </ul>
  </div>

</div>
<hr/>
-->

<!--
  SETUP

  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.

  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">Setup</h2>

<p>
To participate in a Data Carpentry workshop, you will need working copies of the
described software. Please make sure to install everything (or at least to download
the installers) before the start of your workshop. Participants should bring and use
their own laptops to insure the proper setup of tools for an efficient workflow
once you leave the workshop.
<p>
Please follow these <a href=install.html>Setup Instructions</a>.

<p>
  We maintain a list of common issues that occur during installation as a reference for instructors
  that may be useful on the
  <a href = "https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions">Configuration Problems and Solutions wiki page</a>.
</p>
